		
		/*********************
		
		blank
		
		***********************/
	
		
		a, code, em, strong {
        display: inline;
		}
      
		* {
        font-family: 'Rubik', sans-serif;
        margin: 1.5em 0;
        padding: 0;
        text-decoration: none;
		}


      /* brutify */
		*::before,
		*::after 
		{
        color: rgb(0, 0, 0, 0.5);
        font-weight: 100;
        font-size: 1em;
		}
      
	  
	  
		html {
        max-width: 70ch;
        padding: 2ch;
        margin: auto;
        background-color: #121212;
		color: #FAFAFA;
        font-size: 1.1rem;
		scroll-behavior: smooth;
		height: 100%;
		}
		
		
		a:hover{
		color: #f50057;
		text-decoration: underline;
		}
		
		a:visited, a:link{
		color: #f50057;
		}
		
		
		p {
		word-spacing: 5px
		}
		
		h1 {
		font-size: 30px;
		}
		
		/* below is a modified styles */
		
		.container {
		background-color: #121212;
		color: #90A4AE;
		position: fixed;
		left: 0;
		bottom: 0;
		text-align: center;
		width: 100%;
		}
		
		.alert {
		padding: 20px;
		color: white;
		opacity: 1;
		margin-bottom: 15px;
		}
	  
		.alert.danger {background-color: #DC3546;}
		.alert.success {background-color: #27A746;}
		.alert.info {background-color: #007AFF;}
		.alert.warning {background-color: #FEC107; color:black;}
		
		
		/******************************** 
		
		unused style, future realese 
		
		********************************/ 
		
		/*
		.header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background-color: #DC004A;
		color: white;
		text-align: center;
		height: 70px;
		overflow: hidden;
		padding: 20px;
		padding-top: 0px;
		margin: 0px auto;
		line-height: 0px;
		display: flex;
		}
		
		#myBtn {
		display: none;
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		background-color: rgba(137, 137, 135, 0.5);
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 4px;
		}

		#myBtn:hover {
		background-color: #555;
		}
	  
		
	   
		.sticky {
		position: fixed;
		width: 100%;
		}
		
		.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: -6%;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		}

		.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
		}

		.sidenav a:hover {
		color: #f50057;
		}

		.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
		}
		
		@media screen and (max-height: 450px) {
		.sidenav {padding-top: 15px;}
		.sidenav a {font-size: 18px;}
		}
		
		.button {
		background-color: #4CAF50; 
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		}
		
		.dark {
		background-color: #070707; 
		color: white;
		}
		
		.dark.header {
		background-color: #3E00E7; 
		}
		
		.button {
		background-color: black; 
		position: absolute;
		top: 24px;
		right: 120px;
		color: white;
		padding: 7px 9px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		}
		
		
	  
		div.header-txt{
		display: flex;
		position:absolute;
		top: -23%;
		left: 22%;
	  }
	  
	  */
